@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 
@addTagHelper *, Microsoft.AspNetCore.SpaServices

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <base href="~/" />
    <meta content="build" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>

<body>

    <h1 class="text-danger">En feil har oppstått</h1>
    <h2 class="text-danger">Det oppstod en feil ved lasting av siden. Forsøk igjen eller kontakt systemansvarlig!</h2>

    @if (!string.IsNullOrEmpty((string)ViewData["RequestId"])) {
    <p>
        <strong>Request ID:</strong>
        <code>@ViewData["RequestId"]</code>
    </p>
    }
</body>

</html>